/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@swimlane/ngx-datatable/release/index.css';
@import '../node_modules/@swimlane/ngx-datatable/release/assets/icons.css';
@import '../node_modules/@swimlane/ngx-datatable/release/themes/bootstrap.css';

@import './assets/scss/global.scss';

.ngx-datatable.bootstrap .datatable-footer .datatable-pager a{
    background-color: #424242;
}

// Color of overlay background
$color-overlay: rgba(0, 0, 0, .5) !default;

// Position of dialog
$dialog-position-top: 20% !default;

// Transition time
// !! The same as the hideDelay variable defined in ngx-smart-modal.component.ts
$transition-duration: 100ms !default;

// Transition effect
// linear | ease | ease-in | ease-out | ease-in-out
$transition-timing-function: ease-in-out !default;


// We have to do the import after to override the styles.
@import "../node_modules/ngx-smart-modal/ngx-smart-modal";

// This was really obnoxious I can't seem to override the styles for this stupid thing even with local classes
// had to include the padding here, to make it work.
.la-modal{
    padding:24px !important;
}

.row-btn{
    margin-left:15px;
}