/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@swimlane/ngx-datatable/release/index.css';
@import '../node_modules/@swimlane/ngx-datatable/release/assets/icons.css';
@import '../node_modules/@swimlane/ngx-datatable/release/themes/bootstrap.css';

/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '/assets/scss/global.scss';
@import "/assets/css/theme-gunmetal.css";
@import "/assets/css/et-line-icons.css";

@import "/assets/css/custom.css";


.ngx-datatable.bootstrap .datatable-footer .datatable-pager a{
    background-color: #424242;
}

// Color of overlay background
$color-overlay: rgba(0, 0, 0, .5) !default;

// Position of dialog
$dialog-position-top: 20% !default;

// Transition time
// !! The same as the hideDelay variable defined in ngx-smart-modal.component.ts
$transition-duration: 200ms !default;

// Transition effect
// linear | ease | ease-in | ease-out | ease-in-out
$transition-timing-function: ease-in-out !default;


// We have to do the import after to override the styles.
@import "../node_modules/ngx-smart-modal/ngx-smart-modal";


.nsm-dialog-btn-close {
    border: 0;
    background: none;
    color: #2d2d2d;
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 1.2em;
    cursor: pointer;
}


// This was really obnoxious I can't seem to override the styles for this stupid thing even with local classes
// had to include the padding here, to make it work.
.la-modal{
    padding:24px !important;
}

// You would think you could just put these classes in the component.scss and it would work, and you would be wrong.
// I have to put these modal classes here.  It's lame, and I know it.
.bucket-item-quick-edit-modal.nsm-dialog.nsm-dialog-open {
    opacity: 1;
    visibility: visible;
    overflow:auto;
	//max-height: 80%;
    width: 70%;
    max-width: 70%;
    background-color: #fff;
    border-radius: 2px;
    right: 0;
    left: 0;
    top: 10%;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 12px;
    -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

// This is basically allowing us to have our modals scroll, and get a size based on their content. 
// If you mess with the "position" attribute here, you most likely lose that ability. For instance when adding/editing a bucket item, and 
// having a bunch
body.dialog-open ngx-smart-modal {
    position: inherit;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

@media (max-width: 768px){
    .modal-expander.nsm-dialog.nsm-dialog-open {
        max-height: 80%;
        width: 80%;
        max-width: 80%;
        top: 10%;
        position: absolute;
    }
}

.row-btn{
    margin-left:15px;
}

.no-margin{
  margin:0px;
}

.fixed{
	position: fixed;
}