<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://www.lyraatlas.com/blog/">
                        Lyra Atlas Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.lyraatlas.com/about/">
                        About Lyra Atlas
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="https://www.alembic.com">alembic Inc</a>
        </div>
    </div>
</footer>
