<!-- This view height is set so the footer will take up the remaining
amount of space on the screen without having a scroll bar.-->
<footer class="footer-1 bg-secondary pt24 pb24" style="box-shadow: 0 100vh 0 100vh #f8f8f8;">
	<div class="text-center">
			<a href="https://www.lyraatlas.com">
		<div class="row">
			<div class="col">
				<h6 style="font-family: Playfair Display; font-size: 50px;">Lyra</h6>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h6 style="font-family: Playfair Display; font-size: 50px; margin-top:-20px;">Atlas</h6>
			</div>
		</div>
		</a>

		<div class="row">
			<div class="col gold">Live. Explore. Share.</div>
		</div>
		<div class="row">
			<div class="offset-md-3 col-lg-6">
				<ul class="list-inline social-list">
					<li class="list-inline-item">
						 <a href="http://www.instagram.com/lyraatlas" alt="Lyra Instagram">
						<fa-icon [icon]="faInstagram"></fa-icon>
						</a>
					</li>
					<li class="list-inline-item">
						 <a href="http://www.twitter.com/lyraatlas" alt="Lyra Twitter">

						<fa-icon [icon]="faTwitter"></fa-icon>
						</a>
					</li>
					<li class="list-inline-item">
						 <a href="http://www.facebook.com/lyraatlas" alt="Lyra Facebook">

						<fa-icon [icon]="faFacebookF"></fa-icon>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-3 col-lg-6">
				<div class="sub">&#xA9; Copyright 2018 - Lyra Atlas</div>
			</div>
		</div>
		<!-- <div class="row">
	
				<div class="offset-md-3 col-lg-6">
	
					<a class="btn btn-sm fade-half inner-link" href="#top">Top</a>
	
				</div>
	
			</div> -->
	</div>
</footer>