<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://www.alembic.com">
                        Ecommerce Site
                    </a>
                </li>
                <li>
                    <a href="https://identity.alembic.io">
                       Identity Api
                    </a>
                </li>
                <li>
                    <a href="https://product.alembic.io">
                        Product Api
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="https://www.alembic.com">alembic Inc</a>
        </div>
    </div>
</footer>
