<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title">Edit Order Details</h2>
          </div>
          <div class="card-content">
            <form #f="ngForm" novalidate (ngSubmit)="saveOrder(f.value, f.valid)" class="form-horizontal">
              <fieldset>
                <legend>Important Details</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Order Id</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{order?._id}}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Order Number</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{order?.orderNumber}}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Order Code</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{order?.code}}</p>
                  </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Supplier</label>
                    <div class="col-sm-10">
                        <ng2-completer 
                            #supplierDDL
                            inputClass="form-control dropdown" 
                            name="supplier" 
                            [(ngModel)]="searchStr" 
                            [datasource]="dataService" 
                            [minSearchLength]="0"
                            (selected)="onSupplierSelected($event)"
                            
                        ></ng2-completer>
                    </div>
                  </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Order Status</label>
                  <div class="col-sm-2">
                    <p class="form-control-static">{{ orderStatus[order?.status] }}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Change Order Status</label>
                   <!-- These are the buttons that move orders back -->
                   <div class="col-sm-2" *ngIf="order?.status == orderStatus.sent" >
                    <button type="button" class="btn btn-fill btn-wd" (click)="changeOrderStatusPrevious(orderStatus.entered)" >Move Order to Entered</button>
                  </div>
                  <div class="col-sm-2" *ngIf="order?.status == orderStatus.accepted" >
                    <button type="button" class="btn btn-fill btn-wd" (click)="changeOrderStatusPrevious(orderStatus.sent)" >Move Order to Sent</button>
                  </div>
                  <div class="col-sm-2" *ngIf="order?.status == orderStatus.rejected" >
                    <button type="button" class="btn btn-fill btn-wd" (click)="changeOrderStatusPrevious(orderStatus.sent)" >Move Order to Sent</button>
                  </div>
                  <div class="col-sm-2" *ngIf="order?.status == orderStatus.pickedUp" >
                    <button type="button" class="btn btn-fill btn-wd" (click)="changeOrderStatusPrevious(orderStatus.accepted)" >Move Order to Accepted</button>
                  </div>
                  <div class="col-sm-2" *ngIf="order?.status == orderStatus.delivered" >
                    <button type="button" class="btn btn-fill btn-wd" (click)="changeOrderStatusPrevious(orderStatus.pickedUp)" >Move Order to Picked Up</button>
                  </div>
                  <div class="col-sm-2" *ngIf="order?.status == orderStatus.completed" >
                    <button type="button" class="btn btn-fill btn-wd" (click)="changeOrderStatusPrevious(orderStatus.delivered)" >Move Order to Delivered</button>
                  </div>
                  <div  class="col-sm-2" >
                    <span><-- {{ orderStatus[order?.status] }} --></span>
                  </div>
                  <!-- These are going forward in our workflow --> 
                  <div class="col-sm-2" *ngIf="order?.status == orderStatus.entered" >
                    <button type="button" class="btn btn-fill btn-wd" (click)="changeOrderStatusNext(orderStatus.sent)" >Move Order to Sent</button>
                  </div>
                  <div class="col-sm-2" *ngIf="order?.status == orderStatus.sent" >
                    <button type="button" class="btn btn-fill btn-wd" (click)="changeOrderStatusNext(orderStatus.accepted)" >Move Order to Accepted</button>
                  </div>
                  <div class="col-sm-2" *ngIf="order?.status == orderStatus.sent" >
                    <button type="button" class="btn btn-fill btn-wd" (click)="changeOrderStatusNext(orderStatus.rejected)" >Move Order to Rejected</button>
                  </div>
                  <div class="col-sm-2" *ngIf="order?.status == orderStatus.accepted" >
                    <button type="button" class="btn btn-fill btn-wd" (click)="changeOrderStatusNext(orderStatus.pickedUp)" >Move Order to Picked Up</button>
                  </div>
                  <div class="col-sm-2" *ngIf="order?.status == orderStatus.pickedUp" >
                    <button type="button" class="btn btn-fill btn-wd" (click)="changeOrderStatusNext(orderStatus.delivered)" >Move Order to Delivered</button>
                  </div>
                  <div class="col-sm-2" *ngIf="order?.status == orderStatus.delivered" >
                    <button type="button" class="btn btn-fill btn-wd" (click)="changeOrderStatusNext(orderStatus.completed)" >Move Order to Completed</button>
                  </div>
                 
                </div>

                <div class="form-group" >
                  <label class="col-sm-2 control-label">Notes</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" placeholder="Notes" rows="2" name="notes" #notes="ngModel" [ngModel]="order?.notes"  (ngModelChange)="order.notes=$event">
                    </textarea>
                    <span class="help-block">Order Notes</span>
                  </div>
                </div>

              </fieldset>

              <fieldset>
                <legend>Woo Commerce Information</legend>

                <div class="form-group" [ngClass]="{ 'has-error': wooOrderNumber.invalid && f.submitted}">
                  <label class="col-sm-2 control-label">Woo Commerce Order Number</label>
                  <div class="col-sm-5">
                    <input type="text" name="wooOrderNumber" #wooOrderNumber="ngModel" (ngModelChange)="order.wooOrderNumber=$event" class="form-control"
                      [ngModel]="order?.wooOrderNumber">
                    <span class="help-block">Woo Commerce Order Number</span>
                  </div>
                  <div class="col-sm-5">
                      <button type="button" class="btn btn-fill btn-wd" (click)="getWooCommerceDetails()" >Pull details from Woocommerce</button>
                    </div>
                </div>

                <div class="form-group" >
                  <label class="col-sm-2 control-label">Woo Commerce Customer Id</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{order?.wooCustomerId}}</p>
                  </div>
                </div>

                <div class="form-group" >
                  <label class="col-sm-2 control-label">Customer Details: </label>
                  <div class="col-sm-10">
                    <div class="col-sm-2">
                        <label class="control-label">First Name: </label>
                        <span class="form-control-static row-data">{{wooCustomer?.first_name}}</span>
                    </div>
                    <div class="col-sm-2">
                      <label class="control-label">Last Name: </label>
                      <span class="form-control-static row-data">{{wooCustomer?.last_name}}</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Email: </label>
                        <span class="form-control-static row-data">{{wooCustomer?.email}}</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Total Customer Spend: </label>
                        <span class="form-control-static row-data">{{wooCustomer?.total_spent | currency:'USD':'symbol':'1.2-2'}}</span>
                    </div>
                  </div>
                </div>
                <div class="form-group" >
                  <label class="col-sm-2 control-label">Company: </label>
                  <!-- This is super annoying, but I'm not sure why this control won't line up.  Later something to clean out. -->
                  <div class="col-sm-10" style="margin-top:12px">
                    <span class="form-control-static">{{wooOrder?.shipping?.company}}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Shipping Address: </label>
                  <div class="col-sm-10">
                    <div class="form-control-static row-data">{{wooOrder?.shipping?.address_1}}</div>
                    <div class="form-control-static row-data">{{wooOrder?.shipping?.address_2}}</div>
                    <span class="form-control-static row-data">{{wooOrder?.shipping?.city}} ,</span>
                    <span class="form-control-static row-data">{{wooOrder?.shipping?.state}}</span>
                    <span class="form-control-static row-data">{{wooOrder?.shipping?.postcode}}</span>
                  </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Woo Commerce Line Items:</label>
                    <div class="col-sm-10">
                      <table id="wooProductsTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                            <tr>
                                <th>{{ wooProductHeaders[0] }}</th>
                                <th>{{ wooProductHeaders[1] }}</th>
                                <th>{{ wooProductHeaders[2] }}</th>
                                <th>{{ wooProductHeaders[3] }}</th>
                                <th>{{ wooProductHeaders[4] }}</th>
                                <th>{{ wooProductHeaders[5] }}</th>
                            </tr>
                        </thead>
                        <!-- <tfoot>
                          <tr>
                            <th>{{ wooProductHeaders[0] }}</th>
                            <th>{{ wooProductHeaders[1] }}</th>
                            <th>{{ wooProductHeaders[2] }}</th>
                            <th>{{ wooProductHeaders[3] }}</th>
                            <th>{{ wooProductHeaders[4] }}</th>
                            <th>{{ wooProductHeaders[5] }}</th>
                          </tr>
                        </tfoot> -->
                        <tbody>
                            <tr *ngFor="let lineItem of wooOrder?.line_items">
                                <td><a [href]="lineItem.permalink" target="_blank"><img [src]="lineItem?.image_url" [alt]="lineItem.permalink"/></a></td>
                                <td>{{ lineItem.name }}</td>
                                <td>{{ lineItem.product_id }}</td>
                                <td>{{ lineItem.price | currency:'USD':'symbol':'1.2-2'}}</td>
                                <td>{{ lineItem.quantity }}</td>
                                <td>{{ lineItem.total | currency:'USD':'symbol':'1.2-2'}}</td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                </div>
              </fieldset>

              <fieldset>

                <legend>Pricing</legend>

                <div class="form-group">
                     <!-- you can add this pipe at the end of the ngModel expression... but the saving won't work | currency:'USD':true:'1.2-2' -->                  
                    <label class="col-sm-2 control-label">Tax</label>
                    <div class="col-sm-10">
                      <p class="form-control-static">{{order?.tax}}</p>
                    </div>
                  </div>

                  <div class="form-group">
                     <!-- you can add this pipe at the end of the ngModel expression... but the saving won't work | currency:'USD':true:'1.2-2' -->                    
                      <label class="col-sm-2 control-label">Order Total</label>
                      <div class="col-sm-10">
                        <p class="form-control-static">{{order?.total}}</p>
                      </div>
                    </div>

              </fieldset>

              <fieldset ngModelGroup="items">
                <legend>Order Items</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Actions</label>
                    <button type="button" class="btn btn-fill btn-wd" (click)="addOrderItem()" >Add Order Item</button>
                </div>

                <app-order-item-grid [order]="order"></app-order-item-grid>

                <app-order-item-detail ></app-order-item-detail>

              </fieldset>

              <fieldset>
                <legend>Technical Details</legend>

                <div class="form-group">
                  <label class="col-sm-2 control-label">API Location</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{order?.href}}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Version</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{order?.__v}}</p>
                  </div>
                </div>
              </fieldset>
              <button type="submit" class="btn btn-fill btn-wd ">Save</button>
            </form>
          </div>
        </div>
        <!-- end card -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>