<div class="container">
	<div class="content" *ngIf="bucket">
		<div class="container pt24">
			<div class="row">
				<h2 class="col-lg-12 card-title mb8">{{bucket.name}}</h2>
			</div>
			<div class="row pb8" style="cursor: pointer;">
				<!--Comment and Like button in large form factor-->
				<div class="col-3 col-lg-3 d-none d-md-block"> <a data-toggle="tooltip" title="Add A Like" (click)="toggleLike()"
					 tooltip="">

						<fa-icon [class.gold]="bucket.isLikedByCurrentUser" [icon]="faHeart"></fa-icon>

						<span *ngIf="bucket.likedBy && bucket.likedBy.length > 0">&nbsp;{{bucket.likedBy.length}}</span>

					</a>
					<span style="font-size:16">&nbsp;&#183;&nbsp;</span>
					<a title="Add A Comment" (click)="addComment(bucket)">

						<fa-icon [icon]="faComment"></fa-icon>

						<span *ngIf="bucket.comments && bucket.comments.length > 0">&nbsp;{{bucket.comments.length}}</span>

					</a>
				</div>
				<!--Comment and Like button in small/xs form factor-->
				<div class="col-12 col-md-12 d-none d-sm-block d-md-none d-block d-sm-none" style="font-size: 16px;"> <a class=" "
					 data-toggle="tooltip" title="Add A Like" (click)="toggleLike()" tooltip="">

						<fa-icon [class.gold]="bucket.isLikedByCurrentUser" [icon]="faHeart"></fa-icon>

						<span *ngIf="bucket.likedBy && bucket.likedBy.length > 0">&nbsp;{{bucket.likedBy.length}}</span>

					</a>
					<span style="font-size:16">&nbsp;&#183;&nbsp;</span>
					<a title="Add A Comment" (click)="addComment(bucket)">

						<fa-icon [icon]="faComment"></fa-icon>

						<span *ngIf="bucket.comments && bucket.comments.length > 0">&nbsp;{{bucket.comments.length}}</span>

					</a>
				</div>
			</div>
			<div class="row">
				<p class="col-lg-12">{{bucket.description}}</p>
			</div>
			<div class="row">
				<button type="button" class="btn col-lg-3 row-btn d-none d-md-block" style="max-width:175px;" (click)="addBucketItem(); ">
					<fa-icon [icon]="faPlusCircle"></fa-icon>&nbsp;&nbsp;Add Item
				</button>
				<button type="button" class="btn col-lg-3 d-none d-md-block" style="max-width:175px;" (click)="editBucket()">
					<fa-icon [icon]="faEdit"></fa-icon>&nbsp;&nbsp;Edit Board
				</button>
				<button type="button" class="btn col-lg-3 danger d-none d-md-block" style="max-width:175px;" (click)="confirmForBucket.show(bucket)">
					<fa-icon [icon]="faTrashAlt"></fa-icon>&nbsp;&nbsp;Delete Board
				</button>
			</div>
			<div class="row mb8" style="font-size: 24px; cursor: pointer; opacity: .7">
				<div class="col-md-12 col-12 d-none d-sm-block d-md-none d-block d-sm-none"> <a class="mr8" (click)="addBucketItem();">

						<fa-icon [icon]="faPlusCircle"></fa-icon>

					</a>
					<a class="mr8" (click)="editBucket(bucket)">

						<fa-icon [icon]="faEdit"></fa-icon>

					</a>
					<a class="" (click)="showDeleteConfirm()">

						<fa-icon [icon]="faTrashAlt"></fa-icon>

					</a>
				</div>
			</div>
			<app-thumb-grid [(imageList)]="bucketItemImages"></app-thumb-grid>
			<hr>
		</div>
		<div class="container pb24" style="min-height: 300px; ">

			<div class="card-columns">

				<ng-container *ngFor="let item of bucket.bucketItems;">
					<app-bucket-item-card [bucketItem]="item" [bucket]="bucket"></app-bucket-item-card>
				</ng-container>

			</div>
		</div>
	</div>
</div>

<app-comment-list [(commentService)]="bucketService.commenter" [(commentableItem)]="bucket"></app-comment-list>

<ngx-smart-modal #quickEditBucketModal hidedelay="100" identifier="quickEditBucketModal" customClass="nsm-dialog-animation-ttb">
	<app-bucket-edit-control class="la-modal"></app-bucket-edit-control>
</ngx-smart-modal>

<ngx-smart-modal #quickeditbucketitem hidedelay="100" identifier="quickEditBucketItem" customClass="nsm-dialog-animation-ttb bucket-item-quick-edit-modal">
	<app-bucket-item-quick-edit #quickEditItemControl></app-bucket-item-quick-edit>
</ngx-smart-modal>

<app-confirm-modal #confirmForBucket id="confirmForBucket" (confirmed)="deleteBucket($event)"></app-confirm-modal>

<app-confirm-modal #confirmForItem id="confirmForItem" (confirmed)="deleteItem($event)"></app-confirm-modal>