<ngx-smart-modal #childModal hideDelay="100" identifier="childModal" customClass="fixed container">
  <h3>Are you sure you want to delete?</h3>

  <hr />
  <div class="row" style="text-align:center;">
    <div class="col-md-6">
      <button type="button" class="btn btn-fill btn-wd btn-danger" (click)="confirm()">
        Delete
      </button>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-fill btn-wd" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</ngx-smart-modal>
