<div class="card">
	<div class="no-padding card-header ">
		<a [routerLink]="['/bucket-board/detail', bucket._id]"  style="display:block;">
			<img style="border-radius: 6px 6px 0px 0px" *ngIf="bucket && bucket.images && bucket.images.length > 0 && bucket.images[0].variations"
			 src="//{{bucket.images[0].variations[1].url}}">
		</a>
	</div>
	<div class="card-content">
		<a [routerLink]="['/bucket-board/detail', bucket._id]" >
			<h3 class="card-title">{{bucket.name}}</h3>
			<!-- <p class="card-subtitle">{{bucket.images[0]}}</p> -->
			<h5 class="card-text">{{bucket.description}}</h5>
		</a>
	</div>
	<div class="row no-margin" style="font-size: 16px; text-align: center;border-top: 1px solid lightgrey; ">
		<a class="col-4 card-buttons" data-toggle="tooltip" title="Add A Like" (click)="addRemoveLike(bucket)" tooltip style="border-right: 1px solid lightgrey; padding: 8px; cursor: pointer">
			<fa-icon [class.gold]="bucket.isLikedByCurrentUser" [icon]="faHeart"></fa-icon>
			<span *ngIf="bucket.likedBy && bucket.likedBy.length > 0">&nbsp;{{bucket.likedBy.length}}</span>
		</a>
		<a class="col-4 card-buttons" data-toggle="tooltip" title="Add A Comment" (click)="addComment(bucket)" style="border-right: 1px solid lightgrey;  padding: 8px; cursor: pointer">
			<fa-icon [icon]="faComment"></fa-icon>
			<span *ngIf="bucket.comments && bucket.comments.length > 0">&nbsp;{{bucket.comments.length}}</span>
		</a>
		<a class="col-4 card-buttons" data-toggle="tooltip" title="Edit This Bucket" (click)="quickEdit(bucket)" style=" padding: 8px;  cursor: pointer">
			<fa-icon [icon]="faPen"></fa-icon>
		</a>
	</div>

</div>