<div class="card">
  <div class="no-padding card-header ">
    <a [routerLink]="['/bucket-board/detail', bucket._id]" style="display:block;">
      <img style="border-radius: 6px 6px 0px 0px" *ngIf="bucket && bucket.images && bucket.images.length > 0 && bucket.images[0].variations" src="//{{ bucket.images[0].variations[1].url }}" />
    </a>
  </div>
  <div class="card-content">
    <a [routerLink]="['/bucket-board/detail', bucket._id]">
      <h3 class="card-title">{{ bucket.name }}</h3>
      <!-- <p class="card-subtitle">{{bucket.images[0]}}</p> -->
      <h5 class="card-text">{{ bucket.description }}</h5>
    </a>
  </div>
  <app-bucket-card-buttons [isEditable]="isEditable" [bucket]="bucket"></app-bucket-card-buttons>
</div>
