
.transition{
    transition: all 0.5s ease;
}

.quick-edit{
    width: 100%;
}

.dropzone{
    border: 1px dotted #666;
    border-style: dashed;
    border-radius: 5px;
    color: #666;
    text-align: center;
    margin-bottom: 24px;
    padding: 10%;
    // transition: background-color 0.5s ease;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.camera-label{
    cursor: pointer;
}

.camera-label:hover{
    color: rgb(190, 150, 86);
    // transition: color 0.5s ease;
}

.modal {
	overflow-y:auto;
  }