<div class="content" style="margin:16px;">

    <div class="row">
        <div class="col-md-12">
            <h3 *ngIf="controlMode ==  EditControlMode.edit">
                Edit Your Bucket Item</h3>
            <h3 *ngIf="controlMode ==  EditControlMode.create">Add a new Bucket Item</h3>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="dropzone gold transition" appLaDnd (filesChangedEvent)="onFilesDropped($event)">
                <div>
                    <div>
                        <div>
                            <fa-icon [icon]="faCameraRetro" style="font-size:32px;"></fa-icon>
                        </div>
                        <div>
                            <span>Drag and Drop Images here.</span>
                        </div>
                        <div>
                            Or
                        </div>
                        <div>
                            <label for="laFileInput" class="camera-label transition" style="font-weight: normal">
                                <fa-icon [icon]="faPlusSquare" style="font-size:32px;"></fa-icon><br />
                                Click Here to Select Pictures from your device
                            </label>
                            <input type="file" #laFileInput name="laFileInput" id="laFileInput" class="inputfile" (change)="onFilesSelected($event)" multiple />
                        </div>
                    </div>
                </div>
            </div>
            <div class="upload-table" *ngIf="uploadFiles && uploadFiles.length > 0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Images</th>
                        </tr>
                    </thead>
                    <tbody class="upload-name-style">
                        <tr *ngFor="let item of uploadFiles; let i=index">
                            <td>
                                <strong>{{ item.file.name }}</strong>
                            </td>
                            <td>
                              <strong>{{ item.statusText }}</strong>
                          </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <form #f="ngForm" novalidate (ngSubmit)="saveBucketItem(f.valid)" class="form-horizontal" *ngIf="currentBucketItem">
        <div class="col-md-6">

                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name</label>

                        <div class="col-sm-8" [ngClass]="{ 'form-error': (!name.valid && f.submitted) }">
                            <input type="text" name="name" placeholder="Name" #name="ngModel" required class="form-control" [(ngModel)]="currentBucketItem.name">
                            <small [hidden]="name.valid || (name.pristine && !f.submitted)" class="text-warning">
                                You have to name your Bucket Items.
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>

                        <div class="col-sm-8" [ngClass]="{ 'form-error': (!description.valid && f.submitted) }">
                            <textarea rows="4" name="description" placeholder="Description" #description="ngModel" required class="form-control" [(ngModel)]="currentBucketItem.description"></textarea>
                            <small [hidden]="description.valid || (description.pristine && !f.submitted)" class="text-warning">
                                A little description is always nice.
                            </small>
                        </div>
                    </div>
                </fieldset>


        </div>

        <div class="col-md-12">
            <hr />
        </div>

        <div class="col-md-offset-3 col-md-3" style="text-align: center">
            <button type="button" class="btn btn-fill" (click)="cancelHandler()">Cancel</button>
        </div>
        <div class="col-md-3" style="text-align: center">
            <button type="button" class="btn btn-fill" (click)="saveBucketItem(f.valid)">Save</button>
        </div>
    </form>

    </div>




</div>
