<div class="content">
    <div class="container" style="padding:32px 0px">
        <h2 class="card-title" >Your Buckets</h2>
        <p>This is where all your buckets are.  You can create as many buckets as you like to help organize your bucket lists.</p>
        <button type="button" class="btn btn-fill btn-wd" (click)="createNewBucket()">Create New Bucket</button>

        <hr />
    </div>
    <div class="container" style="min-height: 300px; padding:0px 0px 32px; ">

        <div class="row" *ngFor="let row of bucketTable;">

            <ng-container *ngFor="let bucket of row; let i=index">

                <ng-container *ngIf="bucket && bucket._id">

                    <div class="col-md-3 col-sm-12" style="margin-bottom: 16px;">

                        <div class="card">
                            <a [routerLink]="['/bucket-list/detail', bucket._id]">
                                <img style="border-radius: 6px 6px 0px 0px" *ngIf="bucket.images.length > 0 && bucket.images[1].variations" src="//{{bucket.images[1].variations[1].url}}">
                                <div class="card-content">
                                    <h3 class="card-title">{{bucket.name}}</h3>
                                    <!-- <p class="card-subtitle">{{bucket.images[0]}}</p> -->
                                    <h5 class="card-text">{{bucket.description}}</h5>
                                </div>
                            </a>

                            <div class="row no-margin card-content">
                                <a class="col-xs-4 card-buttons" style="text-align: center; margin-bottom: 16px;" (click)="quickEdit(bucket)" href="javascript:void(0)">
                                    <i class="ti-heart gold" style="padding: 5px; font-size:30px; border-style: solid; border-color:rgb(190, 150, 86); border-radius: 50%; border-width: 1px;"></i>Like
                                </a>
                                <a class="col-xs-4 card-buttons" (click)="addComment(bucket)">
                                        <fa-icon style="font-size:30px; border-style: solid; border-color:rgb(190, 150, 86); border-radius: 50%; border-width: 1px;" [icon]="faComment"></fa-icon>Comment
                                </a>
                                <a class="col-xs-4 card-buttons" style="text-align: center; margin-bottom: 16px;" (click)="quickEdit(bucket)" href="javascript:void(0)">
                                    <i class="ti-pencil gold" style="padding: 5px; font-size:30px; border-style: solid; border-color:rgb(190, 150, 86); border-radius: 50%; border-width: 1px;"></i>Edit
                                </a>
                            </div>

                        </div>
                    </div>
                    <!-- If we're on the first element in the list we're going to offset it by 2 [class.col-md-offset-1]="i==0"-->

                </ng-container>
            </ng-container>
        </div>
    </div>



    <ngx-smart-modal #quickEditBucketModal hideDelay="100" identifier="quickEditBucketModal">
        <h3>Edit Your Bucket</h3>
        <hr />
        <form #f="ngForm" novalidate (ngSubmit)="saveBucket(f.valid)" class="form-horizontal" *ngIf="quickEditBucket">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Name</label>

                    <div class="col-sm-8" [ngClass]="{ 'form-error': (!name.valid && f.submitted) }">
                        <input type="text" name="name" placeholder="Name" #name="ngModel" required class="form-control" [(ngModel)]="quickEditBucket.name">
                        <small [hidden]="name.valid || (name.pristine && !f.submitted)" class="text-warning">
                            You have to name your buckets.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Description</label>

                    <div class="col-sm-8" [ngClass]="{ 'form-error': (!description.valid && f.submitted) }">
                        <textarea rows="4" name="description" placeholder="Description" #description="ngModel" required class="form-control" [(ngModel)]="quickEditBucket.description"></textarea>
                        <small [hidden]="description.valid || (description.pristine && !f.submitted)" class="text-warning">
                            A little description is always nice.
                        </small>
                    </div>
                </div>
                <hr/>
                <div class="form-group" style="display: flex; justify-content: center;">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-fill col-sm-6" (click)="saveBucket(f.valid)">Save Changes</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-fill col-sm-6" (click)="closeModal()">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </ngx-smart-modal>