<hr *ngIf="index == 0" class="mb8" />

<div class="row no-margin">

	<div class="col">

		<span *ngIf="!isAdding" class="sub" style="opacity:.5">
			<b>{{currentComment.commentByUser.firstName}} {{currentComment.commentByUser.lastName}} </b> - {{formatTime(currentComment.createdAt)}}
		</span>&nbsp;&nbsp;

		<span *ngIf="!isAdding && !isEditing" class="card-buttons" >
			<a class="card-buttons action-button" data-toggle="tooltip" title="Edit This comment" (click)="editComment();">
				<fa-icon [icon]="faPen"></fa-icon>&nbsp;Edit
			</a>&nbsp;&nbsp;
			<!-- confirmForComment.show(currentComment) -->
			<a class="card-buttons action-button" data-toggle="tooltip" title="Delete This comment" (click)="confirmDelete()">
				<fa-icon [icon]="faTrashAlt"></fa-icon>&nbsp;Delete
			</a>
		</span>

	</div>
</div>

<div *ngIf="!isEditing && !isAdding" class="mb16" style="font-size:16px;">
	{{currentComment.comment}}
</div>

<div class="mt8" *ngIf="isEditing || isAdding">

	<textarea rows="4" name="editCommentText" #editCommentText="ngModel" required class="form-control" [(ngModel)]="tempCommentText"></textarea>

	<div class="card-buttons">
		<a class="card-buttons action-button" data-toggle="tooltip" title="Cancel Changes" (click)="cancelComment()">
			<fa-icon [icon]="faTrashAlt"></fa-icon>&nbsp;Cancel
		</a>&nbsp;&nbsp;
		<a class="card-buttons action-button" data-toggle="tooltip" title="Save Changes" (click)="saveComment();">
			<fa-icon [icon]="faPen"></fa-icon>&nbsp;Save
		</a>
	</div>

</div>

<hr class="mb8 mt8" />
