<section class="container">
<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="" data-image="../../../assets/img/background/background-5.png">
        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <div class="container  d-flex align-items-center flex-column justify-content-center">
                <div class="row" style="min-height:300px;" style="min-width:400px;">
					<div class="col-md-12">
                        <!-- #f is syntax that says export the form as an object (variable) named 'f' that we can later use.  Here it's called 'f' so 
                            I can call things like f.submitted, and test values on the form.  Also notice that on submit, we're sending the form.value.
                            helpful post: https://toddmotto.com/angular-2-forms-template-driven
                             !-->
                            <form #f="ngForm" novalidate (ngSubmit)="login(f.value, f.valid)">
                            <div class="" data-background="color" data-color="blue">
                                <div class="">
                                    <h3 class="">Login</h3>
                                </div>

                                <div class="">
                                    <div class="form-group">
                                        <!-- name attributes are required for all form fields -->
                                        <!-- this syntax is one way data binding.  [ngModel]="user.email"  -->
                                        <!-- just like up there where I was exporting the form variable,  here I'm exporting another 
                                            form variable this time called 'email' using this syntax:  #email="ngModel"
                                            which I can use later in my validators to say things like email.valid and email.pristine -->
                                        <input type="email" 
                                        name="email"
                                        required 
                                        type="text"
                                        #email="ngModel" 
                                        [ngModel]="user.email" 
                                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                                        placeholder="Enter email" 
                                        class="form-control input-no-border">
                                        <small [hidden]="email.valid || (email.pristine && !f.submitted) || !f.submitted" class="text-warning">
                                            Email is required and format should be <i>something@lyraatlas.com</i>.
                                    </small>
                                    </div>
                                    <div class="form-group">
                                        <input 
                                        required 
                                        name="password"
                                        #password="ngModel"
                                        [ngModel]="user.password"
                                        type="password" 
                                        class="form-control input-no-border" 
                                        name="password" 
                                        placeholder="Enter password">
                                        <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-warning">
                                              Password is required
                                            </small>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-fill btn-wd ">Login</button>
                                </div>
                                <div class="text-center mb-24">
                                    <hr />
                                    <h4 class="card-title">Or</h4>
                                </div>
                                <div class="text-center">
                                    <button type="button" (click)="loginWithFacebook()"  class="btn btn-fill btn-wd" style="width:100%; height:50px;"> 
                                        <div class="row">
                                            <div class="col-md-12">
													<i class="et-line-facebook mr16	" style="font-size:3em;line-height:1.3em;" ></i>
													<span style="vertical-align: text-bottom; font-weight: 700" >Login With Facebook</span>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <hr />
                                <div class="text-center">
                                        <a routerLinkActive="active" [routerLink]="['/auth/register']" class="btn">
                                            Looking to signup?
                                        </a>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
