<!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
<div class="container mt24" style="max-width:800px;">
	<div class="row">

		<div class="col-lg-4">
			<a href="https://www.lyraatlas.com">
				<h2 style="font-family: Playfair Display; font-weight:700; font-size: 50px;">Lyra Atlas</h2>
			</a>
		</div>

		<div class="col-lg-8 d-none d-sm-none d-md-none d-lg-block">
			<a routerLinkActive="active" [routerLink]="['/auth/login']" class="btn float-right">
				Looking to login?
			</a>
		</div>

	</div>
	<div class="row">
		<div class="col">
			<h4>Register to start building your bucket list.</h4>
		</div>
	</div>
	<div class="row">
		<hr class="col">
	</div>
	<div class="row">
		<div class="col-lg-6">

			<div class="row">
				<div class="col-md-2">
						<fa-icon [icon]="faUser" style="font-size: 50px;"></fa-icon>
				</div>
				<div class="col-md-10">
					<h5>Free Account</h5>
					Completely free to create an account, and start building your bucket list.
				</div>
			</div>

			<div class="row mt24">
				<div class="col-md-12">
					<button type="button" (click)="loginWithFacebook()" class="btn btn-fill btn-wd" style="width:100%; height:50px;">
						<i class="et-line-facebook mr16	" style="font-size:3em;line-height:1.3em;"></i>
						<span style="vertical-align: text-bottom; font-weight: 700">Register With Facebook</span>
					</button>
				</div>
			</div>

		</div>

		<div class="col-lg-6 d-lg-none d-sm-block d-md-block">
			<div class="text-center mb-24">
				<hr />
				<h4 class="card-title">Or</h4>
				<p>Put in your details to sign up</p>
			</div>
		</div>

		<div class="col-lg-6">
			<form #f="ngForm" novalidate (ngSubmit)="registerUser(f.valid)" class="form-horizontal">
				<div class="">
					<div class="content">
						<div class="form-group" [ngClass]="{ 'form-error': (firstName.invalid && f.submitted) }">
							<input type="text" name="firstName" placeholder="First Name" #firstName="ngModel" (ngModelChange)="user.firstName=$event"
							 required class="form-control" [ngModel]="user?.firstName">
							<small [hidden]="firstName.valid || (firstName.pristine && !f.submitted)" class="text-warning">
								First Name is required.
							</small>
						</div>
						<div class="form-group" [ngClass]="{ 'form-error': (lastName.invalid && f.submitted) }">
							<input type="text" name="lastName" placeholder="Last Name" #lastName="ngModel" (ngModelChange)="user.lastName=$event"
							 required class="form-control" [ngModel]="user?.lastName">
							<small [hidden]="lastName.valid || (lastName.pristine && !f.submitted)" class="text-warning">
								Last Name is required.
							</small>
						</div>
						<div class="form-group" [ngClass]="{ 'form-error': (email.invalid && f.submitted) }">
							<input type="email" name="email" placeholder="Email" #email="ngModel" (ngModelChange)="user.email=$event"
							 required class="form-control" [ngModel]="user?.email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
							<small [hidden]="email.valid || (email.pristine && !f.submitted)" class="text-warning">
								Email is required.
							</small>
						</div>
						<div class="form-group" [ngClass]="{ 'form-error': (password.invalid && f.submitted) || showPasswordWarning}">
							<input type="password" name="password" placeholder="Password" #password="ngModel" (ngModelChange)="user.password=$event"
							 required class="form-control" [ngModel]="user?.password">
							<small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-warning">
								Password is Required.
							</small>
						</div>
						<div class="form-group" [ngClass]="{ 'form-error': (password2Form.invalid && f.submitted) || showPasswordWarning }">
							<input type="password" name="password2" placeholder="Confirm Password" [(ngModel)]="password2" #password2Form="ngModel"
							 required class="form-control">
							<small [hidden]="password2Form.valid || (password2Form.pristine && !f.submitted)" class="text-warning">
								Password Confirmation is required, and should match the first password.
							</small>
							<small [hidden]="!showPasswordWarning" class="text-warning">
								{{passwordWarningMessage}}
							</small>
						</div>
					</div>
					<div class="footer text-center">
						<button type="submit" class="btn btn-fill btn-wd" style="width:100%;" (click)="registerUser(f.valid)">Create Free
							Account</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>